<div class="columns is-centered">

    <div class="column is-three-fifths">
        <h1 class="subtitle is-3">Contact Us</h1>
        <div><%= @contact_page.content %></div>
        <br>
        <figure class="image is-2by1">
            <img src="/assets/store.jpg" alt="Dora store" />
        </figure>
    </div>
</div