<h1 class="subtitle is-3">Products</h1>


<div>
  <%= paginate @products, class: 'pagination-custom' %>
</div>

<div class="columns is-multiline is-variable is-4">
  <% @products.each do |product| %>
    <div class="column is-one-third-tablet is-one-quarter-desktop is-full-mobile">
      <%= render partial: "product", locals: { product: product } %>
    </div>
  <% end %>
</div>



